body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #d8eef3;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}


h2 {
    text-align: center;
}
nav {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;   
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    gap: 5px;
}
